<html>
  <head>
    <title>The Wardrobe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" media="screen">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<style type="text/css">
	body{
		background-color: #fbf5ff;}
	#header { 
		background-color: #d6a8f7;
		text-align: center;
		border: 2px solid purple; 
		padding: 5px;
		font-family: arial;
		border-spacing: 10px;}
	#display {
		width: 90%;
		font-family: arial;
		margin: 20px auto;}
	</style>
  
  </head>
  <body>
    <div id="header">
			<h2>The Wardrobe</h2>
			<h4>Staff Pages</h4>
	</div>
	<div id = "display">
	<button id="goToLogin" onclick = "document.location='http://127.0.0.1:5000/login'">
      Login
    </button>
	</div>
	
	<script>
	
		
	
	</script>
  </body>
</html>